/* Copy Animation */
root  {
    --scrollbarBG: #0c0e2c;
}
.base-color {
    color: hsl(var(--main)) !important;
}

body {
    background: #0c0e2c !important;
}

.copyInput {
    display: inline-block;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.copied::after {
    position: absolute;
    top: 8px;
    right: 12%;
    width: 100px;
    display: block;
    content: "COPIED";
    font-size: 1em;
    padding: 5px 5px;
    color: #fff;
    background-color: #ff7000;
    border-radius: 3px;
    opacity: 0;
    will-change: opacity, transform;
    animation: showcopied 1.5s ease;
}

@keyframes showcopied {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    50% {
        opacity: 0.7;
        transform: translateX(40%);
    }

    70% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
    }
}


.mob-cards {
    margin: 10px 0px;
}

.mob-cards-3box {
    margin: 10px 0px;
}
@media screen and (max-width: 991px) {
    .betslip-container {
        display: none !important;
    }
    .show-icon {
        display: none !important;
    }
}

@media only screen and (min-width: 390px) {
    .header-fluid-custom-parent {
        gap: 18px !important;
    }
}

@media only screen and (max-width: 375px) {
    .mob-cards {

    }

    .mob-cards-3box {
        width: 174px !important;
    }

    .header-fluid-custom-parent {
        gap: 2px !important;
    }
}

.cookies-card {
    width: 520px;
    padding: 30px;
    color: #1e2337;
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 999999;
    transition: all 0.5s;
    background: #d1d1d1;
    border-radius: 5px;
}

.cookies-card.hide {
    bottom: -500px !important;
}

.radius--10px {
    border-radius: 10px;
}

.cookies-card__icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #6e6f70;
    color: #fff;
    font-size: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.cookies-card__content {
    margin-bottom: 0;
}

.cookies-btn {
    color: #363636;
    text-decoration: none;
    padding: 10px 35px;
    margin: 3px 5px;
    display: inline-block;
    border-radius: 999px;
}

.cookies-btn:hover {
    color: #363636;
}

/* 21/12 */

.navigation-12 ul li.active {
    border-bottom: 4px solid #ff5300;
}

.navigation-12 ul li {
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    display: flex;
    margin-right: 20px;
    border-bottom: 4px solid transparent;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.navigation-12 ul li a {
    font-size: 1rem;
    color: #fff;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.clor-theme-12 {
    background: #ff5300;
    color: #fff;
}

.box-img-container {
    height: 84px;
    width: 80px;
    margin: 10px 2px;
}

.box-img-container img {
    width: 100%;
    height: 100%;
}

.player {
    margin: 10px 10px;
}

.player-details {
    align-items: center;
    border-radius: 10px;
    display: flex;
    background-color: #0c0e2c;
    border: 1px solid #2c2c39;
    position: relative;
    cursor: default;
    margin: 10px;
}

.bottom-align {
    align-self: flex-end;
}

.player-name {
    font-size: 18px;
    color: #fff;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-bottom: 5px;
}

.league-name {
    border: 1px solid #393945;
    border-radius: 3px;
    background-color: #1f202d;
    padding: 0 2px;
    color: #aaa;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-right: 5px;
}

.team-position {
    color: #ffffff;
    font-size: 0.6875rem;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.0625rem;
    margin-bottom: 5px;
}

.date-time {
    color: #ffffff;
    font-size: 0.6875rem;
    line-height: 1.0625rem;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    opacity: 0.6;
    margin-bottom: 5px;
}

.opponent {
    color: #ffffff;
    font-size: 0.6875rem;
    line-height: 1.0625rem;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    opacity: 0.6;
    margin: 0;
}

.projected-score {
    border-radius: 5px;
    background-color: #111;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2px 8px;
    margin-top: 5px;
}

.projected-score .score {
    font-size: 18px;
}

.score {
    color: #ffffff;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    position: relative;
    margin-right: 6px;
}

.text {
    font-size: 0.6875rem;
    line-height: 1.1875rem;
    color: #ffffff;
    font-weight: 500;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    vertical-align: middle;
}
.projected-score-item {
    flex-basis: auto;
}
.projected-score-item.score {
    flex-basis: auto;
}
.projected-score-item.text {
    /*flex-basis: 70%;*/
}

.projected-score-item.score {
    font-size: 13px;
    margin-left: 3px;
    margin-right: 3px;
}

.projected-score-item.adj {
    font-size: 0.6875rem;
    line-height: 1.1875rem;
    color: #ffffff;
    font-weight: 500;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.over-under {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 86px;
    height: 84px;
    padding: 1px;
    border-radius: 5px;
}

.more-btn {
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 0.8125rem;
    background-color: #111;
    color: #ffffff;
    opacity: 0.8;
    border: 1px solid #393945;
}

.box-border-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 25px;
}

.border-botm {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 29px;
}

.more-btn:hover {
    background: #ff5300;
}

.box-cross-icon-con {
    position: absolute;
    top: 3px;
    right: 15px;
    cursor: pointer;
}

.box-cross-icon {
    font-size: 18px;
}

.current-players {
    padding: 0 20px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 14px;
    line-height: 1.25;
    margin-top: 10px;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.clear-btn {
    font-size: 0.875rem;
    color: #ff5300;
    background: unset;
    border: unset;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.text-opacity12 {
    opacity: 0.5;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.scroll-div {
    overflow-y: auto;
    height: 50vh;
}

.scroll-div::-webkit-scrollbar {
    width: 11px;
}

.scroll-div {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbarBG);
}

.scroll-div::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

.scroll-div::-webkit-scrollbar-thumb {
    background-color: #181e4c;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.socialicons-box {
    background: #1877f2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.box-container-scroll {
    overflow-y: scroll;
    height: 576px;
}

.box-container-scroll::-webkit-scrollbar {
    width: 11px;
}

.box-container-scroll {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbarBG);
}

.box-container-scroll::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

.box-container-scroll::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.subconatiner-box12 {
    height: 184px;
}

.s-p-4 {
    padding: 4px !important;
}

@media (max-width: 767px) {
    .cookies-card {
        width: 100%;
        left: 0;
        bottom: 0;
        font-size: 14px;
        padding: 15px;
    }

    .rule-conatiner {
        display: unset !important;
    }

    .rule li {
        display: inline !important;
        font-size: 0.8rem !important;
    }

    .cards-box-container {
        /*margin: 10px;*/
    }

    .primary-menu-container {
        width: 100%;
    }

    .navigation-12 ul li a {
        font-size: 14px;
    }

    .logo {
        width: 100px;
    }

    .box3-subcontainer {
        border: unset;
        /* margin: 10px;
        padding: 10px; */
    }

    .box3-img-container {
        left: 30vw !important;
        top: 2vh !important;
    }

    .player-name {
        font-size: 14px;
    }

    .cards-box-container {
        min-width: 100%;
        margin-top: 18px;
    }

    .mob-cards {
        flex: 1 0 50%;
        margin: 0;
    }

    .mob-cards-3box {
        width: 190px;
        max-width: 50%;
        flex: 1 0 50%;
        margin: 0;
    }

    .subconatiner-box12 {
        height: 182px;
    }

    .s-p-4 {
        padding: 4px !important;
    }

    .mob-cards-row {
        --bs-gutter-x: 0.6rem !important;
        display: flex;
        flex-wrap: wrap;
        margin: -10px;
    }

    .img-sub-conatiner {

    }

    .search-container button {
        padding: 5px 8px !important;
    }

    .league {
        overflow-x: scroll;
        flex-wrap: unset !important;
        width: 337px;
        display: flex;
    }

    .sub-category {
        width: 337px;
        overflow-x: scroll;
        flex-wrap: unset !important;
    }

    .cards-box-container {

    }

    .home-container45 {
        padding: 0px !important;
    }

    .choose-container-full {
        width: 322px !important;
        font-size: 12px !important;
    }

    .mob-cards-3box {
        max-width: 50%;
        flex: 1 0 50%;
    }
    .betslip-container {
        display: none !important;
    }
}

.hover-input-popup {
    position: relative;
}

.input-popup {
    display: none;
}

.hover-input-popup .input-popup {
    display: block;
    position: absolute;
    bottom: 130%;
    left: 50%;
    width: 280px;
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    border-radius: 5px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.input-popup::after {
    position: absolute;
    content: "";
    bottom: -19px;
    left: 50%;
    margin-left: -5px;
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #1a1a1a transparent;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.input-popup p {
    padding-left: 20px;
    position: relative;
}

.input-popup p::before {
    position: absolute;
    content: "";
    font-family: "Line Awesome Free";
    font-weight: 900;
    left: 0;
    top: 4px;
    line-height: 1;
    font-size: 18px;
}

.input-popup p.error {
    text-decoration: line-through;
}

.input-popup p.error::before {
    content: "\f057";
    color: #ea5455;
}

.input-popup p.success::before {
    content: "\f058";
    color: #28c76f;
}

.show-filter {
    display: none;
}

.p-302 {
    padding: 10px 40px;
}

.social-links-conatiner {
    margin: 10px 30px;
    width: 100%;
    float: right;
}

.social-list2 {
    float: right;
    --gap: 1rem !important;
}

.m-op {
    margin: 10px 44px;
}

.container-p {
    padding: 30px 146px 30px 38px;
}

.home-container45 {
    padding: 0px 70px;
}

@media (max-width: 767px) {
    .m-op {
        margin: 10px 16px;
    }

    .social-box0 {
        float: left;
    }

    .responsive-filter-card {
        display: none;
        transition: none;
    }

    .show-filter {
        display: block;
    }

    .p-302 {
        padding: 0 !important;
    }

    .footer__list {
        float: unset !important;
        display: block !important;
    }

    .social-list2 {
        float: left !important;
        margin-left: 30px;
    }

    .show-icon2 {
        right: 0 !important;
    }

    .show-icon {
        display: none;
    }

    .container-p {
        padding: 0px;
    }

}

@media all and (device-width: 1153px) {
    .mob-cards {
        flex: 1 0 33.33%;
        max-width: 33.33%;
        margin: 10px 0px;
    }

    .choose-container-full {
        width: unset !important;
    }

    .show-icon {
        right: 1vw;
        top: 8vh;
    }

    .search-container button {
        padding: 6px 6px;
    }

    .container-p {
        padding: 30px 52px 30px 24px;
    }

    .sub-category {
        margin-top: 14px;
    }

    .mob-cards-3box {
        max-width: 50%;
        flex: 1 0 50%;
    }

    .player {
        margin: 10px 6px;
    }

    .box-img-container {
        height: 72px;
        width: 68px;
    }

    .score {
        font-size: 13px;
    }

    .text {
        font-size: 10px;
    }

    .player-name {
        font-size: 14px;
    }

    .date-time {
        font-size: 10px;
    }

    .player-name {
        font-size: 15px;
    }
}

/* css for ipad portrait */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .ipad-visibility {
        display: none;
    }

    .home-container45 {
        padding: 0px 18px;
    }

    .choose-container-full {
        width: 685px;
    }

    .search-container button {
        padding: 6px 8px;
    }

    .container-p {
        padding: 30px 14px 30px 14px;
    }

    .mob-cards {
        flex: 1 0 33.33%;
        max-width: 33.33%;
        margin: 10px 0px;
    }

    .mob-cards-3box {
        flex: 1 0 50%;
        max-width: 50%;
        margin: 10px 0px;
    }

    .rule-conatiner-3box {
        grid-template-columns: 100% !important;
    }

    .box3-img-container {
        left: 40vw;
        top: 1vh;
    }

    .player-details {
        justify-content: space-between;
    }

    .show-icon {
        display: none;
    }

    .box3-subcontainer {
        border: unset;
    }
}

.mobile-code {
    cursor: pointer;
    padding-right: 5px;
    font-size: 0.875rem;
    font-weight: 500;
}

.text-muted {
    color: #b1b1b1 !important;
}

.text--extra-small {
    font-size: 0.625rem !important;
}

.text--small {
    font-size: 0.75rem !important;
}

.custom-dropdown-selected {
    position: relative;
    font-size: 0.875rem;
}

.custom-dropdown-selected:after {
    position: absolute;
    content: "\f107";
    font-family: "Line Awesome Free";
    font-weight: 900;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.custom-dropdown.show .custom-dropdown-selected:after {
    transform: rotate(180deg);
}

.custom-dropdown-list {
    list-style: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 0 8px 0 #e8e8e8;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.custom-dropdown-list-item.disabled {
    font-weight: 500;
    opacity: 0.6;
    pointer-events: none;
}

.custom-dropdown.show .custom-dropdown-list {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.custom-dropdown-list-item {
    border-bottom: 1px solid #f7f7f7;
    padding: 8px 15px;
    font-size: 0.875rem;
    cursor: pointer;
}

.custom-dropdown-list-item:last-child {
    border-bottom: 0;
}

.grecaptcha-badge {
    display: none;
}

.post-card {
    background: #17192c;
    color: #FFF;
}


.custom--card .card-header {
    background: #17192c;
    color: #FFF;
}

.blog-details__content {
    background: #17192c;
    color: #FFF;
    padding: 10px 20px;
}

.form--control[disabled] {
    background: transparent;
    color: #919191;
    border-color: #fff;
    opacity: .8;
}

.form-select option {
    color: #000;
}
.input-group-text {
    background: #17192c;
    border: 1px solid #23263a;
}
.list-group-item {
    color: #ffffff;
    background-color: #0c0e2c;
}
li.nav-item {
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: #1f202d94;
    font-size: 0.8125rem;
    line-height: 1.1875rem;
    letter-spacing: 0.5px;
    margin: 4px;
}
.nav-link {
    padding: 8px 10px;
}

li.favorite img {
    width: 15px;
}

li.favorite {
    display: flex;
    align-items: center;
    gap: 5px;
}

p.card-link.font-xl {
    display: flex;
    gap: 5px;
    font-size: 18px !important;
    align-items: center;
}

span.font-orange {
    font-size: 18px;
}

.bslip_player_wrap .promo {
    position: absolute;
    top: 0px;
}

.player-details.bslip_player_wrap.has_promotion {
    padding-top: 15px;
}

.player-details.bslip_player_wrap.has_promotion .box-cross-icon-con {
    top: 20px;
}

p.card-link.font-xl {
    margin-bottom: 0;
}

.card-link span.line-through {
    font-size: 18px;
}

.cards-box-container p.card-link.font-xl {
    font-size: 26px !important;
}

.cards-box-container .card-link span.line-through {
    font-size: 26px;
}

.cards-box-container span.font-orange {
    font-size: 26px;
}

/** CSS for the favorites page */

.favorites_container {
    height: 100%;
}

.favorites_container .card-footer {
    position: relative!important;
}

.possible_bets_wrap {
    display: flex;
    flex-direction: column;
}

.possible_bet {
    background-color: #1111117d;
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    gap : 5px;
}

.possible_bet  *{
    margin: 0;
    padding: 0;
}

.bet_actions {
    display: flex;
    width: 100%;
    gap: 5px!important;
}

.bet_actions .action {
    width: 100%;
}


.bet_info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
}

p.bet_adj {
    font-size: 18px !important;
}

.bet_actions .action .btn {
    padding: 5px 10px !important;
    border-radius: 5px!important;
}

.bet_info span.line-through {
    text-decoration: line-through;
    font-size: 18px;
}

p.bet_adj.bet_promo {
    display: flex;
    gap: 5px;
    align-items: center;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1470px;
    }
    .header-fluid-custom-parent {
        max-width: 1470px;
        margin: auto;
        padding: 10px 0px 10px 0px;
    }
    .logo img {
        margin-left: -25px;
    }
}

.alert-info {
    color: #fff;
    background-color: #ff530061;
    border-color: #ff530061;
}

.scroll-div {
    scrollbar-color: #fff #ff5300 !important;
}


.sub_leagues_wrap {
    margin-top: 10px;
    display: block;
}

ul.sub-category.my-1.ipb_types {
    margin-top: 10px !important;
}

 .sub_leagues_wrap .name {
    font-size: 11px;
}

.ip_favorites_h2h_wrap .rival.card-header {
    background-color: transparent!important;
}

.ip_favorites_h2h_wrap .rival-box-container {
    background-color: #13172e;
    min-height : 240px;
}


.swiper-container {
    width: 1470px;
}

.login-page .form-label {
  
    color: #000;
}

.register-form .form--control, .login-form .form--control {
    background: #FFF;
    color: #000;
    border-color: #d9d9d9;
}

.login-page .form--select .form-select {
border : 1px solid #ff5300;
}
.login-page .form--select .form-select:focus {
    border: 1px solid #ff5300;
    color: #000;
}

.ib_stats-popup {
    max-width: 800px;
}

.ib_stats-popup .modal-content {
    color: #fff;
    background-color: #181e4c;
    border-radius: 15px;
}


  .player-image {
    background: white;
    width: 95px;
    height: 95px;
    border-radius: 50%;
  }
  .player_name {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  .player_details {
    color: #fff;
  }
  .stat-box {
    background: #0000009c;
    color: white;
    padding: 14px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}
  .average-box {
    background: #00000030;
    color: white;
    padding: 14px;
    font-size: 20px;
    text-align: center;
  }

  p.stat-value {
    border-bottom: 1px dotted #ff5300;
}

table.ib_table_stats {
    width: 100%;
}

table.ib_table_stats * {
    color: #fff;
    text-align: center;
}

table.ib_table_stats thead tr {
    border-bottom: 1px solid #eeeeee47;
}

.ib_player_stats {
    position: relative;
}

.ib_player_stats a.arrow.arrow-left {
    position: absolute;
    top: 50%;
    margin-left: -10px;
    left: 0;
    transform: translateY(-50%);
}

.ib_player_stats a.arrow.arrow-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: -10px;
}

.ib_player_stats a.arrow i {
    font-size: 17px;
    transition: all 0.3s;
}

#statsGraph span.close {
    z-index: 10;
}

.ib_player_stats a.arrow {
    color: #fff;
    cursor: pointer;
}

.ib_player_stats a.arrow:hover i {
    color: #ff5300;
}

.modal-content .form-label {
    color: #000;
}