.carousel-item-container {
    color: #aaa;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    border-radius: 8px;
    padding: 7px;
    background-color: #17192c;
    height: 80px;
    border: 2px solid transparent;
    text-align: center;
    width: 80px !important;
}

.carousel-item-container p {
    font-size: 12px;
    margin-top: 5px;
}

.owl-item {
    width: 80px !important
}

.sub-category {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.3125rem;
    letter-spacing: -0.011em;
    text-align: left;
    color: #fff;
    /* background-color: #050614; */
    padding: 0px;
    margin-top: 12px;
    margin-bottom: 5px;
}

.sub-category li {
    white-space: nowrap;
    cursor: pointer;
    float: left;
    text-align: center;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: #1f202d94;
    font-size: 0.8125rem;
    line-height: 1.1875rem;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    letter-spacing: 0.5px;
    margin: 4px;
}
.sub-category .trending .fa {
    color: #ff5300;
}
.sub-category .trending img {
    width: 20px;
    height: 20px;
}
.selected-li{
background-color: #f2f2f2 !important;
color: #000;
font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.choose-container {
    border-radius: 9.2px;
    border: 1px solid rgb(44, 44, 57);
    color: #ffff;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 14px;
}
.choose-container-full{
    width: 1038px;
}

.choose-container p {
    margin-bottom: 0;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    letter-spacing: 1px;
}

.choose-container span {
    margin-right: 10px;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.search-container {
    height: 40px;
    /* background-color: rgb(18, 19, 32); */
    border: 1px solid rgb(44, 44, 57);
    border-radius: 5px !important;
}

.search-container button {
    padding: 6px 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background: unset;
    color: grey
}

.search-container input[type=search] {
    float: right;
    padding: 6px;
    margin-right: 14%;
    border: none;
    font-size: 16px;
    background: unset;
    color: #fff;
    width: 72%;
}

.rule-conatiner {
    display: grid;
    grid-template-columns: 60% 40%;
}

.rule ul {
    list-style: none;
    padding: 2px;
}

.rule li {
    border-right: 1px solid #fe5900;
    color: #fe5900;
    display: inline-block;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 0.9rem;
    padding: 0px 7px;
    cursor: pointer;
    text-transform: uppercase;
}

.card {
    background-color: unset;
}

.cards-box-container {
    background-color: #181e4c;
    border-radius: 10px;
    border: 1px solid #2c2c39;
    min-height: 330px;
}

.fav-button {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.expand-button .graph-icon,
.fav-button .graph-icon {
    width: 20px;
    height: 20px;
}
.rival-box-container {
    background-color: #181e4c;
    border-radius: 10px;
    border: 1px solid #2c2c39;
    min-height: 205px;
    cursor: pointer;
}
.rival .expand-button {
    position: absolute;
    left: 5px;
    top: 20px;
    width: 24px;
    height: 24px;
}

.player_one_container,
.player_two_container {

}

.adjustment {
    position: absolute;
    bottom: -12px;
    text-align: center;
    padding: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.adjustment p {
    padding: 0px 6px;
    margin: 0;
    font-size: 12px !important;
    border: solid 1px #FFF;
    border-radius: 10px;
    display: inline;
    background: #171d4a;
}

.img-container {
    height: 130px;
}

.img-sub-conatiner {
    padding: 8px;
    margin-top: 0px;
    /*height: 180px;*/
}

.img-sub-conatiner img {
    height: 90px;
    width: 90px;
    object-fit: fill;
}

.img-check-box {
    background: unset;
    border: 1px solid #2c2c39;
}
.card-text-12{
    max-height: 125px;
}
.card-text-12 p {
    margin: 0px;
    font-size: 14px;
    color: #fff;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.m-h-30{
    height: 30px;
}
.card-text-12 h5 {
    color: #fff;
    margin: 0;
    font-size: 14px;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.card-text-4 h5 {
    color: #fff;
    margin: 0;
    font-size: 10px;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.card-text-4 p {
    margin: 0px;
    font-size: 10px;
    color: #fff;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.banner__content {
    background: #0c0e2c;
}



.footer-text-12 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1111117d;
    margin: 10px 0px;
    height: 40px;
    color: #fff;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.divider {
    border: 1px dashed #fe5900;
    width: 2px;
    height: 14px;
}

.footer-text-12 p {
    margin: 0;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    /*font-weight: 500;*/
    padding: 0 15px;
}


.font-base {
    font-size: 0.9rem !important;
}

.font-xl {
    font-size: 1.9rem !important;
}

.font-orange {
    color: #ff5300 !important;
}

.font-white {
    color: #FFF;
    font-size: 1rem !important;
    padding: 5px;
}

.is-countdown {
    border: none !important;
    background: transparent !important;
    font-size: 0.6rem !important;
}
.countdown_minute {
    font-size: 1rem;
}
.graph-icon {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}
.selected-cards-box-container .graph-icon {
    /*filter: brightness(100%);*/
}
.top-container {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    color: #fff;
    justify-content: space-around;
    height: 20px;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.top-container.promo {
    background: #1e223b;
}

.top-container .content {
    /*background: #1f202d94;*/
}
.game-container {
    /*background: #181e4b;*/
}

.game-container p {
    font-size: 0.9rem;
}
.card-link span.line-through {
    font-size: 14px;
    text-decoration: line-through;
}

.rival.card-header {
    background-color: #15172f;
    border-radius: 10px;
    width: 100%;
    margin: 0;
    padding: 0 10px;
}
.betslip-container .rival.card-header {
    background-color: #0c0e2c;
}
.border_line {
    border-top: solid 1px #2c2c39;
    position: absolute;
    top: 45%;
    width: 100%;
    left: 0;
    z-index: 0;
}
.selected-rival-box-container {
    border: solid 1px #ff5300;
}
.selected-rival-box-container:first-child {
    border-radius: 10px 10px 0 0;
}
.selected-rival-box-container:last-child {
    border-radius: 0 0 10px 10px;
}

.form-check-input[type=checkbox] {
    border-radius: 20px;
}
.img-check-box {
    background: white;
    border: 1px solid #2c2c39;
    width: 20px;
    height: 20px;
}

.nav-tabs {
    border: none;
}
.nav-tabs .nav-link {
    cursor: pointer;
}

.versus-container {
    align-self: center;
    text-align: center;
}

.versus-container-one {
    align-self: center;
    position: absolute;
    bottom: -15px;
    justify-content: center;
    text-align: center;
    left: 0;
    right: 0;
}
.versus-container-two {
    align-self: center;
    position: absolute;
    top: -15px;
    justify-content: center;
    text-align: center;
    left: 0;
    right: 0;
}
.versus-container-one .versus,
.versus-container-two .versus {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 99;
    background: #0c0e2c;
}
.versus {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 99;
}
.betslip-container .versus {
    background: #0c0e2c;
}
.versus.selected {
    border: solid 1px #ff5300;
    border-radius: 20px;
}
.off-text {
    color: #ff7700;
    font-size: 0.9rem;
    padding: 5px;
    text-transform: uppercase;
    /*font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;*/
}

.league {
    cursor: pointer;
    color: white;
}

.league.selected {
    cursor: pointer;
    color: white;
    background-color: #6d2c1a;
    border-color: #ff7700;
}

.league-image {
    max-height: 35px;
    margin-bottom: 15px;
}
.league-image img {
    width: 32px;
    height: 32px;
}
.league-image i {
    font-size: 25px;
}

.league .name {
    line-height: 0.875rem;
    font-size: 13px;
    overflow: hidden;
}

.cards-container {
    position: relative;
}
.betslip-container {

}
.show-icon {
    width: 28px;
    background-color: #0c0e2c;
    border: none;
    border-radius: 37px;
    color: #000000;
    cursor:pointer;
    position: absolute;
    top: -14px;
    right: -35px;
    z-index: 999;
}

.show-icon2 {
    width: 28px;
    float: right;
    background-color: #0c0e2c;
    border: 1px solid #2c2c39;
    border-radius: 37px;
    color: #000000;
    position: relative;
    right: 30vw;
    top: 30vh;
    z-index: 11111;
    cursor:pointer
}
.show-icon img {
    padding: 0;
    margin: 0;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0px;
    left: 2px;
}

.betslip-container {
    will-change: min-height;
}
.box3-subcontainer {
    border: 1px solid #393945;
    border-radius: 0px;
    box-shadow: none;
    height: 82vh;
    min-height: 60vh;
    max-height: 82vh;
    z-index: 999;
    background: #0c0e2c;
    position: relative;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}

.box3-img-container {
    width: 100px;
    margin: 20px auto;
}

.box3-img-container img {
    width: 100%;
}

.bet_entry {
    background: transparent;
    color: #484848;
    border: none;
    padding: 0;
    display: inline-block;
    width: 80%;
    margin-left: 5px;
}
.bet_entry:focus {
    background: transparent;
    border: none;
}
.selected-cards-box-container {
    background-color: #fff;
}
.cards-box-container .form-check-input {
    font-size: 20px;
    display: none;
}

.cards-box-container .form-check-input:checked {
    background-color: #ff5300;
    border-color: #ff5300;
}

.checkmark {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 20px;
}
.expand-button {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.selected-circle-box{
    align-items: center;
    background-color: #ff5300;
    color: white;
    border-radius: 25px;
    display: flex;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 0.9rem;
    height: 22px;
    justify-content: center;
    left: -12px;
    position: absolute;
    top: -10px;
    width: 22px;
}

.selected-cards-box-container .card-header {
    background: #171d4a;
    border: solid 1px #ff5300;
}

.header-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.players-text2 {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 18px;
    margin-bottom: 0px;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.players-text3 {
    font-size: 0.8rem;
    color: #ffffff;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 0px;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.columns.money-columns {
    display: grid;
    grid-template-columns: auto min-content;
    margin-bottom: 3px;
    min-height: 64px;
    margin-top: 38px;
}

.columns.money-columns>.column.input-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.entry-input {
    height: 64px;
    font-size: 1rem;
    background-color: #12132066;
    border: 1px solid #2c2c39;
    border-radius: 6px;
    padding: 4px 6px 6px 12px;
    margin-right: 12px;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.second-conatiner {
    height: 64px;
    font-size: 1rem;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    cursor: default;
    background-color: #181e4c;
    border: 1px solid #181e4c;
    border-radius: 6px;
    padding: 4px 6px 6px 12px
}

.box3-loginBtn {
    border: none;
    border-radius: 0.375rem;
    color: white;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 0.9125rem;
    width: 100%;
    height: 3.4375rem;
    background-color: #ff5300;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-more,
.btn-less {
    border: solid 1px #13172e;
    border-radius: 0 0 6px 0;
    padding: 7px;
    color: white;
    font-size: 0.8rem;
    width: 100%;
    background-color: #181e4c;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-less {
    border-radius: 0 0 0 6px;
}

.btn-less.btn-selected,
.btn-more.btn-selected {
    border: solid 1px #ff5300;
    background-color: #ff5300;
}

.btn-less:hover,
.btn-more:hover,
.btn-less-betslip:hover,
.btn-more-betslip:hover {
    color: #FFF;
}

.btn-more-betslip,
.btn-less-betslip {
    color: white;
    font-size: 0.9125rem;
    text-transform: uppercase;
    font-weight: 500;
    width: 100%;
    padding: 0px 5px;
    margin: 2px 0;
    background-color: #181e4c;
    border: solid 1px #13172e;
}

.btn-more-betslip.btn-selected,
.btn-less-betslip.btn-selected {
    border: solid 1px #ff5300;
    background-color: #ff5300;
}
.m-50 {
    margin-top: 50px;
}

.signl-svg{
    fill: #fff;
}

.selected-cards-box-container svg {
    fill: red;
}

.post-card__thumb {
    text-align: center;
}
.post-card__thumb img {
    width: 50%;
}

.social-box0{
    display: inline-flex;
    list-style: none;
    float: right;
}
.social-box0 li{
    margin: 10px;
}
.social-box0 li a{
    color: #52506c;
    line-height: 3px;
}
.social-box0 li a i{
    font-size: 18px;
}
.social-box0 li a :hover{
    color: #fff;
}

.social-links-conatiner img {
    width: 16px;
    height: 16px;
}

img.graph-icon.fav_icons {
    filter: none !important;
}

